<!DOCTYPE html>
<html>
    <head><title>Ansible is using Template on {{ ansible_fqdn }}</title></head>
    <body>
        <h1>This file is managed by yogesh raheja for host {{ ansible_fqdn }} via Jinja template for {{ book_title }}</h1>
    </body>
</html>

